:root {
    --red: #D42426;
    --darkRed: #8B0000;
    --gold: #F8B229;
    --green: #165B33;
    --darkGreen: #0B301A;
    --white: #F0F4F8;
    --mono: 'Mountains of Christmas', cursive;
    --serif: 'Playfair Display', serif;
    --sans: '"Quicksand"', sans-serif;
}

html, body {
    background-color: var(--darkRed);
    position: relative;
}

* {
    box-sizing: border-box;
}

.main-content {
    text-align: center;
    text-transform: uppercase;
    scroll-snap-type: y mandatory;
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}

.hover,
.word,
h1 {
    cursor: pointer;
}

h1 {
    position: relative;
    text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.concept {
    position: relative;
    padding: 5em;
    height: 100vh;
    overflow: hidden;
    scroll-snap-align: center;
}

.concept:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(rgba(0, 0, 0, 0.3), transparent);
    opacity: 0;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.concept:hover:before {
    opacity: 0.5;
}

.concept-one {
    display: grid;
    grid: 100% / repeat(5, 1fr);
    padding: 5em 15em;
    background: url("https://images.squarespace-cdn.com/content/550ed02fe4b00ccc1d9e9000/1482212229806-B6VIV0S3XKA06Q6GEDSU/WinterWonderland-1.jpg?format=1500w&content-type=image%2Fjpeg") center center / cover;
    color: var(--red);
}

.concept-one .hover {
    position: relative;
    display: grid;
    place-items: center;
}

.concept-one h1 {
    font: 500 60px var(--mono);
    color: transparent;
    text-align: 0 1px 1px;
    -webkit-text-stroke: 2px #fff;
    text-shadow: none;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.concept-one .hover:hover h1 {
    transform: scale(1.5);
    color: var(--red);
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Second */
.concept-two {
    padding: 3.5em 0;
    background: url("https://res.cloudinary.com/aenetworks/image/upload/c_fill,ar_2,w_3840,h_1920,g_auto/dpr_auto/f_auto/q_auto:eco/v1/christmas-gettyimages-184652817?_a=BAVAZGID0") center center / cover;
    color: #fff;
    font: 900 48px var(--serif);

}

.concept-two .word {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    margin: auto;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
}

.concept-two .hover {
    flex: 1;
    display: grid;
    height: calc(100vh - 10em);
    grid: repeat(2, 2fr) / 100%;
    position: relative;
}

.concept-two .hover div {
    position: relative;
    z-index: 5;
}

.concept-two .hover div:nth-child(1):hover ~ h1 {
    margin-top: -10px;
}

.concept-two .hover div:nth-child(2):hover ~ h1 {
    margin-top: -50px;
}

.concept-two h1 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -30px;
    transition: 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 0;
}

.concept-three {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2em;
    background: url("https://c.tadst.com/gfx/750w/santa-stocking-fireplace-presents-christmas.jpg") no-repeat center center / cover;
}
.concept-three h1 {
    display: inline-block;
    font: 900 48px var(--sans);
    color: var(--white);
}
.concept-three:hover h1 {
    letter-spacing: 25px;
    transform: scale(1.3);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.concept-four {
    display: flex;
    align-items: center;
    background: url("https://cdn.britannica.com/91/196391-050-AA4AE4BC/room-fireplace-armchair-Christmas-tree-gifts.jpg") center center / cover;
}

.concept-four .word {
    width: 550px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.concept-four .word:hover .char:nth-child(1) {
    margin-top: -30px;
    transform: rotate(-3deg);
}

.concept-four .word:hover .char:nth-child(2) {
    margin: -40px 0 0 10px;
    transform: rotate(3deg);
}

.concept-four .word:hover .char:nth-child(4) {
    margin-top: -30px;
    transform: rotate(3deg);
}

.concept-four .word:hover .char:nth-child(5) {
    margin: -40px 0 0 10px;
    transform: rotate(-3deg);
}

.concept-four .word:hover .char:nth-child(7) {
    margin-top: -30px;
    transform: rotate(-3deg);
}

.concept-four .word:hover .char:nth-child(8) {
    margin: -40px 0 0 10px;
    transform: rotate(3deg);
}

.concept-four .word:hover {
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.concept-four h1 {
    font: 900 360px var(--serif);
    color: var(--white);
}