<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STS 🎅</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="/static/countdown.css">
</head>
<body>
    <div class="main-content">
        <div class="concept concept-one">
            <div class="hover">
                <h1>M</h1>
            </div>
            <div class="hover">
                <h1>E</h1>
            </div>
            
            <div class="hover">
                <h1>R</h1>
            </div>
            
            <div class="hover">
                <h1>R</h1>
            </div>
            
            <div class="hover">
                <h1>Y</h1>
            </div>
        </div>
        <div class="concept concept-two">
            <div class="word">
                <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>C</h1>
                </div>
                <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>H</h1>
                </div>
                
                <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>R</h1>
                </div>
                
                <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>I</h1>
                </div>
                
                <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>S</h1>
                </div>
                <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>T</h1>
                </div>
                <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>M</h1>
                </div>
                <div class="hover">
                    <div></div>
                    <div></div>
                    <h1>A</h1>
                </div>
                <div class="hover">
                    <div></div>
                    <div></div> 
                    <h1>S</h1>
                </div>
            </div>
        </div>
        <div class="concept concept-three">
            <h1>Countdown</h1>
        </div>
        <div class="concept concept-four">
            <h1 class="word">
                <span class="char">0</span>
                <span class="char">0</span>
                <span class="char">:</span>                
                <span class="char">2</span>
                <span class="char">4</span>
                <span class="char">:</span>
                <span class="char">2</span>
                <span class="char">5</span>
                <span class="char">:</span>
                <span class="char">6</span>
                <span class="char">7</span>
            </h1>
        </div>
    </div>
    <audio id="bg-music" loop>
        <source src="/static/audio/silent-night.mp3">
    </audio>
    <script src="/static/countdown.js"></script>
</body>
</html>