<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STS 🎅</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="/static/tts.css">
</head>
<body>
    <div class="letter-image">
        <div class="animated-mail">
            <div class="back-fold"></div>
            <div class="letter">
                <div class="letter-border"></div>
                <form method="POST" action="/generate">
                    <div class="letter-title">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" placeholder="Your Name" required>
                    </div>
                    <div class="letter-context">
                        <label for="subject">Subject:</label>
                        <input type="text" id="subject" name="context" placeholder="Your Wish" required>
                    </div>
                    <textarea class="letter-textarea" name="text" placeholder="Dear Santa," required></textarea>
                    <div class="letter-email">
                        <label for="parent_email">Parent Email:</label>
                        <input type="email" id="parent_email" name="parent_email" placeholder="parent@example.com" required>
                    </div>
                    <button class="cancel-btn" type="button">Cancel</button>
                    <button type="submit" class="submit-btn">Send Mail</button>
                </form>
                <div class="letter-stamp">
                    <div class="letter-stamp-inner"></div>
                </div>
            </div>
    
            <div class="top-fold"></div>
            <div class="body"></div>
            <div class="left-fold"></div>
        </div>
        <div class="shadow"></div>
    </div>
    <audio id="bg-music" loop>
        <source src="/static/audio/jingle-bells.mp3">
    </audio>
    <script src="/static/tts.js"></script>
</body>
</html>